body{
    background-color: whitesmoke;
    font: normal 13pt arial;

}

.nav{
    background-color: rgb(48, 48, 48);
    height: 50px;
    text-align: center;
}

.nav-item{
    padding-top: 10px;
}

a{
    color: #EEE;
    text-decoration: none;
}

h1{
    padding: 10px;
}



.container-fluid{
    
}
thead{
    background-color: rgb(48, 48, 48);
    color: #EEEe;
    display: block;
    padding: 20px;

}

.container_main{
    background-color: white;
    display: block;
    padding: 20px;
    
}

table{
   width: 100%;
   table-layout: fixed;
}


tr{
    display: flex;
    justify-content: space-between;
}

th

th td{
    border-bottom: 1px solid #dddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;

}


label{
    padding: 5px;
}

.form-group{
    padding: 7px;
}

